<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>{% block title %}HTTP code responses{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block style %}
        {% endblock %}

        {% block extra_head %}{% endblock %}

    {% endblock %}
    </head>
    <body>
        <div class="site">
            {% block content %}
            {% endblock %}
        </div>
        
        {% block default_javascript %}
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
          <!--[if lt IE 7 ]>
          <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
          <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
          <![endif]-->
        {% endblock %}
        
        {% block extra_javascript %}
        {% endblock %}
    </body>

</html>